@mid:registry="https://mckinsey.jfrog.io/artifactory/api/npm/mid-npm/"
//mckinsey.jfrog.io/artifactory/api/npm/mid-npm/:_auth=${JFROG_AUTH}
//mckinsey.jfrog.io/artifactory/api/npm/mid-npm/:always-auth=true